.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  height: 300px;
  width: 200px;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;

  button {
    cursor: pointer;
  }

  &:hover {
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(249, 249, 249, 0.89) 200%);

    .product-price {
      color: #FDC82F;
    }

    .product-card-footer {
      visibility: visible;
    }

    .product-card-img img {
      position: absolute;
      top: 40px;
      left: 60px;
      width: 400px;
      transition: 1s;
    }

    .product-card-footer {
      .minus {
        transform: translateX(0);
        transition: 1s transform 0.1s;
      }

      .plus {
        transform: translateX(0);
        transition: 1s transform 0.1s;
      }
    }
  }

  .product-card-img {
    width: 150px;
    margin-left: 50%;
    transform: translateX(-50%);

    img {
      width: 100%;
      z-index: 1;
    }
  }

  .product-name {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 4px;
  }

  .product-price {
    font-size: 17px;
    font-weight: 600;
  }

  .product-card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;

    .btn {
      border: none;
      color: #fff;
      height: 40px;
      border-radius: 8px;
      background-color: #000;
      text-transform: uppercase;
      font-size: 12px;

      &:hover {
        background-color: rgb(33, 33, 33);
      }
    }

    .minus,
    .plus {
      width: 30px;
      height: 30px;
    }

    .minus {
      transform: translateX(40px);
    }

    .plus {
      transform: translateX(-40px);
    }

    .add-to {
      padding: 5px 10px;
      z-index: 1000;
    }

    .product-btns {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}