* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.spinner {
  color: #FDC82F;
  font-size: 40px;
  transition: 1s all;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}