.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 80px;
  padding: 10px 30px;
  background-color: #FDC82F;

  &-logo {
    width: 50px;

    img {
      width: 100%;
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &-price {
    font-size: 20px;
  }

  &-cart {
    cursor: pointer;

    .header-cart-icon {
      font-size: 30px;
      color: #000;
    }
  }
}