.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 80px;
  padding: 10px 30px;
  background-color: #FDC82F;

  &-logo {
    width: 50px;

    img {
      width: 100%;
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &-price {
    font-size: 20px;
    font-weight: 600;
  }

  &-cart {
    position: relative;
    cursor: pointer;

    .header-cart-icon {
      font-size: 30px;
      color: #000;
    }

    .header-cart-counter {
      position: absolute;
      top: -13px;
      right: -13px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 23px;
      width: 23px;
      border-radius: 50%;
      background-color: #ffffff;

      span {
        color: #000;
        text-decoration: none;
      }
    }

  }
}